@model IEnumerable<Project.WebUI.Models.UserModel>

@{
    ViewData["Title"] = "New users list";
}

<h1>New users list</h1>

@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["MessageType"]" role="alert">
        @ViewBag.Message
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Authorization)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Authorization)
            </td>
            <td>
                <form asp-action="ApproveCreationRequest" method="post">
                    <input type="hidden" name="id" value="@item.Id" />
                    <button type="submit" class="btn btn-success">Approve</button>
                </form>
                <form asp-action="RejectCreationRequest" method="post">
                    <input type="hidden" name="id" value="@item.Id" />
                    <button type="submit" class="btn btn-danger">Reject</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
